.container {
    width: 80%;
    margin: 0 auto;
    width: 650px;
}

body {
    background-color: #ebebeb;
    border: black 3px solid;
    font-family: Arial, sans-serif;
}

.asideDere {
    float: right;
    width: 30%;
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #d6d7d2;
    width: 400px;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #333;
    text-decoration: none;
}
.certer{
    text-align: center;
    margin: 0 ;
}

nav {
    padding: 10px;
    font-weight: bold;
    font-size: 21px;
}