* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f0f4f8;
    color: #263238;
}

.jugador-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: linear-gradient(135deg, #673ab7, #2196f3);
    color: white;
}

.jugador-header h1 {
    font-size: 3rem;
    font-weight: bold;
}

.jugador-header .numero {
    font-size: 4rem;
}

.jugador-header p {
    font-size: 1.5rem;
}

.jugador-imagen img {
    max-width: 250px;
    border-radius: 8px;
}

.estadisticas {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
    background-color: #eceff1;
}

.caja-estadistica {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
}

.caja-estadistica p {
    font-size: 2rem;
    font-weight: bold;
    color: #3e31fa;
}

.caja-estadistica span {
    font-size: 1rem;
    color: #757575;
}

.detalles-jugador {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    background-color: white;
}

.datos-personales, .trayectoria {
    max-width: 500px;
}

.datos-personales h2, .trayectoria h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.datos-personales ul, .trayectoria ul {
    list-style: none;
}

.datos-personales ul li, .trayectoria ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.datos-personales ul li strong, .trayectoria ul li strong {
    font-weight: bold;
    color: #3e31fa;
}
