body {
    background-color:  rgb(95, 158, 160);
}

* {
    font-weight: bold;
}

.contenedor {
    width: 500px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    margin-top: 57px;
}

h1 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

.bloque1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.fila {
    display: flex;
    margin-bottom: 10px;
}

.caja1 {
    margin: 10px;
    border: 1px solid black;
    border-radius: 17px 19px 8px 40px;
    padding: 10px 40px;
}

.caja2 {
    margin: 10px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px 40px;
}

.caja3 {

    background: linear-gradient(white, rgb(95, 158, 160));
    margin: 10px;
    border-radius: 30px;
    padding: 10px 40px;
    border: 1px solid black;
}

.caja4 {

    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 35px;
    background: radial-gradient(white, rgb(95, 158, 160));
    margin: 10px;
}

.caja5 {

    margin: 10px;
    border: 1px solid black;
    padding: 0px 40px;
    border-radius: 25px;
}

.caja6 {

    margin: 10px;
    border: 1px solid black;
    padding: 0px 35px;
}

.bloque2 {

    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}


.caja7 {

    margin: 10px;
    border: 1px solid;
    padding: 10px 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(95, 158, 160);
}

.caja8{

    margin: 10px;
    border: 1px solid black;
    padding: 10px 40px;
    border-radius: 30px;
}

.caja9 {
    padding: 10px 40px;
    margin: 10px;
    background-color: white;
    border: 2px solid black;
}

.caja9 {

    margin: 10px;
    border: 1px solid black;
    padding: 10px 40px;
    border-radius: 30px;
    text-shadow: 5px 3px 3px rgb(95, 158, 160);
}

.caja10{

    margin: 10px;
    border: 1px solid black;
    padding: 10px 40px;
    border-radius: 30px;
    background: linear-gradient(45deg, rgb(241, 240, 240), rgb(95, 158, 160) 70%);
}

hr {
    border: none;
    height: 2px;
    background-color:  rgb(95, 158, 160);
    margin: 20px 0;
}

h2 {
    text-align: left;
    margin: 0;
}