form {
    margin: 10px auto;
    width: 710px;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    text-align: center;
    padding: 20px;
}

label {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'LeagueGothic', sans-serif;
}

input {
    border: none;
    border-bottom: 1px dotted #000;
    background: transparent;
    width: 70%;
    text-align: center;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: right;
}

input:required {
    background-image: url('../imgs/required.png');
}

input:focus {
    outline: none;
    border-bottom: 1px dotted #000;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    background-image: url('../imgs/bg-formtitle-left.png'), url('../imgs/bg-formtitle-right.png');
    background-position: left top, right top;
    background-size: 100px auto;
    background-repeat: no-repeat;
}

button {
    width: 50%;
    padding: 15px;
    background: radial-gradient(circle, rgb(144, 144, 144), rgb(72, 72, 72)); /* Fondo degradado radial */

    border-radius: 5px;
    color: white;

    font-size: 2em;
    opacity: 0.8;
    transition: opacity 0.25s linear;
}

button:hover {
    opacity: 1;
}

input:focus:invalid {
    background-image: url(../imgs/invalid.png);
}

input:focus:valid {
    background-image: url(../imgs/valid.png);
}

input[type=number] {
    width: 10%;
    padding-right: 35px;
}

input[type="range"]::-moz-range-progress {
    background-color: #a1a1a1;
}

input[type="range"]::-moz-range-track {
    background-color: #a1a1a1;
}

input[type="range"]:focus:valid {
    background-image: none;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}