#reproductor {
    position: relative;
    text-align: center;
    margin: 20px auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: inset 2px 4px 8px rgba(0, 0, 0, 0.2);
}

#barra {
    width: 705px;
    margin: 5px auto;
    height: 16px;
    padding: 2px;
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    position: relative;
    margin: 10px auto;
}

#progreso {
    position: absolute;
    width: 0;
    height: 16px;
    background: rgba(0, 0, 150, .2);
}

input[type="button"] {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #e34c26;
    color: white;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s, transform 0.3s;
}

input[type="button"]:hover {
    background-color: #f06529;
    transform: scale(1.05);
}

label {
    margin-left: 10px;
    color: #333;
}

main nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: none;
    justify-content: center;
}

main nav input[type="button"] {
    background-color: #e94d2b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    width: 100px;
}