body {
    background: linear-gradient(#dd5724, #f7ded3);
}

.container-principal {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

header {
    border-radius: 10px 10px 0 0;
    background: linear-gradient(#0476b9, #1ca5dc);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 11px;
}

.cont:hover {
    color: white;
}

.tit {
    color: white;
}

.tit img {
    padding: 15px;
}

nav {
    background-image: url("../imgs/red015.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(#dbbe36, #f4db2f);
}

.marcador {
    display: inline;
    margin: 15px 0;
    text-align: center;
    color: yellow;
}

.raya {
    background-color: black;
    height: 7px;
    width: 100%;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
}

section {
    max-width: 200px;
    text-align: center;
    padding: 0px;
    background-color: white;


    border: 60px solid;
    border-image: url(../imgs/movil.png) 80 50 70 50;
   
}

section img {
    max-width: 100%;
}

footer {
    text-align: center;
    justify-content: center;
    background-color: #313b44;
    padding: 15px;
}

.tit-foter {
    color: white;
    margin: 15px;
}