body {
    background-image: url("../imgs/old_map.png");
}

.container-principal {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.container-titulo {
    background-color: #313b44;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 11px;
}

.cont:hover {
    color: white;
}

.tit {
    color: white;
}

.tit img {
    padding: 15px;
}

.container-menu {
    background-image: url("../imgs/red015.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.marcador {
    display: inline;
    margin: 15px 0;
    text-align: center;
    color: yellow;
}

.raya {
    background-color: black;
    height: 7px;
    width: 100%;
}

.container-cursos {
    background-image: url("../imgs/lgrey008.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.curso {
    text-align: center;
    padding: 15px;
    background-color: white;
    margin: 13px;
}

.curso img {
    max-width: 100%;
}

.container-footer {
    text-align: center;
    justify-content: center;
    background-color: #313b44;
    padding: 15px;
}

.tit-foter {
    color: white;
    margin: 15px;
}